* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #313131;
}
.wrapper {
    justify-content: center;
    margin: auto;
    max-width: 400px;
    height: 100vh;
}
.wrapperControler{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #454545;
}
.field{
    position: absolute;
    display: flex;
    top: 60px;
    width: 100%;
    height: calc(50% - 60px);
    background-color: green;
    transition: transform 300ms ease-in-out;
}
.pushField{
    transform: translateY(calc(100%))
}
.wrapperPlayer{
    position: relative;
    height: 100vh;
}
.wrapperTimer{
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(50% - 60px);
}

.rotate {
    rotate: 180deg;
    z-index: 2;
}
.notRotate {
    z-index: 2;
}

.timer {
    font-weight: 100;
    font-size: 55px;
    z-index: 2;
    transition: color 350ms;
}
.timerActive {
    color: white;
    z-index: 2;
}
.opponentTimer {
    text-align: center;
    z-index: 2;
    transition: color 350ms;
}
.opponentTimerActive {
    color: #38a05b;
}
.criticalTime {
    color: red;
}
.activeControler{
    filter: brightness() saturate(0%) invert(100%) sepia(40%) ;
}